.PanelTokenSearch {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
    z-index: 10;
    background-color: rgba(196, 196, 196, 0.4);
    /* display: none; */
}

.MainCardTokenSearch {
    position: fixed;
    width: 70vh;
    height: 80vh;
    min-width: 300px;
    min-height: 500px;

    background: #FFFFFF;
    border: 1px solid #EFEAF4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    position: relative;

}

.MainCardTokenSearchTitle {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 1px solid #C4C4C4;

}

.MainCardTokenSearchTitle>nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #301262;
    flex-grow: 1;
}

.MainCardTokenSearchTitle>svg {
    top: 10px;
    right: 10px;
    position: absolute;
    color: #301262;
}

.TokenSearchInput {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px 20px;

    background: #FFFFFF;
    border: 1px solid #301262;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 20px 0;
    font-size: 20px;
}

.CardTokenPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    min-height: 100px;
    margin-top: 10px;
    overflow: scroll;
}

.CardTokenPanel::-webkit-scrollbar {
    display: none;
}

.CardToken {
    margin-top: 20px;
    min-height: 65px;
    
}

.CardTokenPanel>div {
    width: 100%;
    padding: 100px 0;
}

.CardTokenPanel .CardToken {
    width: 100%;
    height: 60px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.CardToken>nav {
    flex-basis: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    /* identical to box height */
    color: #000000;
    flex-basis: 150px;
}

.CardToken>nav:hover {
    color: #7e6868;
}

.CardToken>button {
    border: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #00CAD7;
    background-color: #FFFFFF;
    flex-basis: 100px;

}